@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
